{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block body %}

    <div class="bgimg">
        <div class="container cart">
            <div class="card text-center">
                <div class="card-header">
                    <h5 class="card-title">Confirmation</h5>
                </div>
                <div class="card-body">
><p>ok</p>

                </div>
            </div>

        </div>

    </div>
{% endblock %}
